body {
    background-color: lightgrey;
    font-family: 'Arial', sans-serif;
}

.motivation-board {
    &:after, &:before {
        content: '';
        display: block;
        clear: both;
    }
}

.personal-card {
    width: 300px;
    border: 2px solid darkgrey;
    margin: 10px;
    padding: 20px;
    float: left;
    
    .name {
        text-align: center;
    }
}

.value {
    color: green;
}