body {
    background-color: lightgrey;
}

.motivation-board {
    &:after, &:before {
        content: '';
        display: block;
        clear: both;
    }
}

.personal-card {
    width: 400px;
    border: 2px solid darkgrey;
    margin: 10px;
    padding: 20px;
    float: left;
}